:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: white;
}

body {
  transition: background-color 0.5s ease 0s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
